#posts {
    display: grid;
    grid-template-columns: var(--post-columns);
}

#posts > :first-child {
    display: grid;
    grid-template-columns: var(--padding-posts);
}

#posts > :last-child {
    overflow: hidden;
}

#posts .body-posts {
    padding-right: 20px;
}

#posts .body-posts__header {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #dedede;
    margin-bottom: 37px;
}

#posts .body-posts__header .title-section {
    color: #342b64;
    font-size: var(--font-size--title-section--posts-frontpage);
    font-weight: 700;
}

#posts .body-posts__header .view-all {
    font-size: 10px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap:10px;
    padding: 5px 10px;
    background-color: var(--wp--preset--color--blue);
    border: 2px solid var(--wp--preset--color--blue);
    border-radius: 3px;
    color: var(--wp--preset--color--base);
    transition: background-color .3s ease-in-out, color .3s ease-in-out, fill .3s ease-in-out;
}

#posts .body-posts__header .view-all:hover {
    background-color: var(--wp--preset--color--base);
    color: var(--wp--preset--color--blue);
    fill: var(--wp--preset--color--blue);
}

#posts .body-posts__main {
    display: grid; gap: 37px;
    padding-bottom: 37px;
}

#posts .body-posts__main .date {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 4px;
    border-radius: 3px;
    line-height: 1;
    font-size: 12px;
    font-weight: 700;
    background-color: #FAC033;
    color: var(--wp--preset--color--base);
}

#posts .body-posts__main .archive-post--permalink {
    color: var(--wp--preset--color--blue);
    transition: color .3s ease-in-out;
}

#posts .body-posts__main .archive-post--permalink:hover {
    color: #FAC033;
}

#posts .body-posts__main .archive-post--title {
    line-height: 1.5;
}

/* slideshow */
#posts .slideshow-wrapper {
    position: relative;
    width: 100%;
    min-height: var(--min-height--slideshow-events);
    height: 100%;
    overflow: hidden;
}

#posts .slideshow {
    height: 100%;
    display: flex;
}

#posts .slideshow .archive-post {
    position: relative;
    height: 100%;
}

#posts .slideshow .archive-post--header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#posts .slideshow .archive-post--header .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

#posts .slideshow .archive-post--content {
    position: relative;
    padding: 47px;
}

#posts .slideshow .archive-post--content .post-categories {
    padding-left: 0;
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 0 7px;
    flex-wrap: wrap;
}

#posts .slideshow .archive-post--content .post-categories li a {
    font-size: var(--wp--preset--font-size--small);
    color: var(--wp--preset--color--base);
}

#posts .slideshow .archive-post--content .archive-post--title {
    font-size: var(--font-size--title--slideshow--posts);
    color: var(--wp--preset--color--base);
    line-height: 1.2;
    font-weight: 700;
    max-width: var(--max-width--event-title);
}

#posts .slideshow .archive-post--content .read-more {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 10px;
    text-decoration: none;
    letter-spacing: 3px;
    font-family: "Libre Franklin";
    text-transform: uppercase;
    color: var(--wp--preset--color--base);
    background-color: var(--wp--preset--color--blue);
    border: 2px solid var(--wp--preset--color--blue);
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

#posts .slideshow .archive-post--content .read-more:hover {
    background-color: var(--wp--preset--color--base);
    color: var(--wp--preset--color--blue);
}

:is(.slideshow-prev,.slideshow-next) {
    position: absolute;
    bottom: -32px;
    transform: translateY(-50%);
    display: grid;
    place-content: center;
    width: 64px;
    height: 64px;
    background-color: var(--wp--preset--color--blue);
    border: none;
    opacity: var(--opacity--card-btns--slideshow);
    transition: background-color .3s ease-in-out, opacity .3s ease-in-out;
}

:is(#posts,#testimonials,#services):hover :is(.slideshow-prev,.slideshow-next) {
    opacity: 1;
}

:is(.slideshow-prev,.slideshow-next):hover {
    cursor: pointer;
    background-color: #fac233b1;
}

:is(.slideshow-prev,.slideshow-next) svg {
    fill: var(--wp--preset--color--base);
    width: 24px;
    height: 24px;
    transition: all .3s ease-in-out;
}

:is(.slideshow-prev,.slideshow-next):hover svg {
    width: 32px;
    height: 32px;
}

.slideshow-prev {
    left: 0;
}

.slideshow-next {
    right: 0;
}

#posts .slideshow-wrapper .slideshow-buttons-wrapper{position:absolute; bottom:20px; transform:translateX(-50%); left:50%;z-index: 2;}
#posts .slideshow-wrapper .slideshow-buttons-wrapper .slideshow-buttons{padding:4px; background-color:transparent; display:flex; gap:20px; margin:0; list-style:none; border-radius:9px;}
#posts .slideshow-wrapper .slideshow-buttons .slideshow-button{width:10px; height:10px; border-radius:50%; background-color:var(--wp--preset--color--bullet);cursor:pointer;}
#posts .slideshow-wrapper .slideshow-buttons .slideshow-button.active{background-color: #FAC033;}