.site-main header.block {
    position: relative;
    overflow: hidden;
}

.site-main header.block .background-parallax {
    position: absolute;
    width: 100%;
    object-fit: cover;
}

.site-main header.block .content {
    position: relative;
    color: var(--wp--preset--color--base);
}

.page-template-warranty .site-main header.block {
    padding: 120px 0;
}

.page-template-warranty .site-main header.block .content {
        width: min(100%, 700px);
        text-align: center;
        color: var(--wp--preset--color--base);
        text-shadow: 0 2px 10px rgba(0, 0, 0, .25);
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(20px);
        padding: 20px;
        border-radius: var(--border-radius--rastreo);
}

.page-template-warranty .site-main header.block .content .subtitle {
    color: var(--wp--preset--color--blue);
}